<div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sm-12 ">
	<% if @tweet.errors.any? %>
 		<div class="alert alert-danger">
 			<p><%= pluralize(@tweet.errors.count, "error") %> </p>
 			<p>There were problems with the following fields:</p>
 				<ul>
 					<% @tweet.errors.full_messages.each do |msg| %>
  						<li><%= msg %></li>
  				<% end %>
 				</ul>
  		</div>
	<% end %>
</div>