<header>
<div class="navbar navbar-default">
    <div class="navbar-header pull-left">
        <p class="navbar-text" style="overflow: hidden; white-space: nowrap;">
      		<%= link_to "TweetTimer", root_path, id: "logo" %> 
           <%= link_to image_tag("twitter-logo-blue.png", id: "logo-twitter" )%>
        </p>
    </div>
    <div class="navbar-header pull-right">
        <p class="navbar-text">
    	   	 <% if current_user %>
          			<%= link_to "Log out", signout_path, class: "btn btn-primary"%>
	  		<% else %>
          			<%= link_to "Log in", "/auth/twitter", class: "btn btn-primary" %>
	  		<% end %>
	  	</p>
    </div>
</div>
</header>